:global(.full)
    background-image: url('assets/img/fullstar.png')
:global(.half)
    background-image: url('assets/img/halfstar.png')
:global(.empty)
    background-image: url('assets/img/emptystar.png')
.star48
    font-size: 0
    display: inline-block;
    margin: 0 12px;
    vertical-align: top;
    font-size: 0
    .starItem 
        display: inline-block;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin-right: 22px;
        background-size: 20px 20px;
.star36
    font-size: 0
    display: inline-block;
    margin: 0 12px;
    vertical-align: top;
    font-size: 0
    .starItem
        display: inline-block;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        margin-right: 6px;
        background-size: 15px 15px;
.star24
    font-size: 0
    display: inline-block;
    vertical-align: top;
    font-size: 0
    .starItem
        display: inline-block;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        margin-right: 3px;
        background-size: 10px 10px;;
.scrollWrap
    height 100%
    overflow hidden