.tab
    display: flex;
    width: 100%;
    flex: 0 0 40px;
    line-height: 40px;
    .tabItem
        flex: 1;
        list-style: none
        text-align: center;
        a
            display: block;
            font-size: 14px;
            &.active
                color #f01414
.routerWrap
    flex 1
    overflow hidden
    display: flex
    flex-direction: column
    .routeWrap
        flex 1
        overflow: hidden
    